//VARIABLES

//fonts
$f-primary:"Poppins", sans-serif;
$f-secondary:"Roboto", sans-serif;

//colors
$c-primary: #5375d9;
$c-primary-hover: #4d6bc5;
$c-secondary: #eaf0ff;
$c-secondary-subtle: #ff6433;
$c-black: #222222;
$c-body-text: #4a4a4a;
$c-body-bg: #ffffff;
$c-white: #ffffff;

//breakpoints
@mixin breakpoint($breakpoint){
  @if $breakpoint == tablet {
    @media (min-width:768px){
      @content;
    }
  }
  @if $breakpoint == laptop {
    @media (min-width:992px){
      @content;
    }
  }
  @if $breakpoint == desktop {
    @media (min-width:1200px){
      @content;
    }
  }

}

//general styles
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: $f-primary;
  background: $c-body-bg;
  color: $c-body-text;
  line-height: 1.7;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
  color: $c-black;
}

img{
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6{
  color: $c-black;
}

.h1{
  font-size: 57px;
  line-height: 1.2;
  font-weight: 900;
}

.h2{
  font-size: 48px;
  line-height: 1.4;
  letter-spacing: -2%;
}

.h3{
  font-size: 32px;
  line-height: 1.4;
}

.h4{
  font-size: 24px;
  line-height: 1.4;
}

.lead{
  font-size: 20px;
}

.container{
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: auto;
}

.section {
  padding: 70px 0;
}

.btn {
  text-transform: uppercase;
  border: none;
  background: $c-primary;
  color: $c-white;
  border-radius: 30px;
  cursor: pointer;
  letter-spacing: 0.4px;
  font-weight: 600;
  min-width: 140px;
  transition: all 0.3s ease-in-out;
  font-size: 14px;
  &:hover{
    background: $c-primary-hover;
  }
  &--lg{
    height: 56px;
    padding: 0 2rem;
  }
  &--sm{
    height: 48px;
    padding: 0 1.5rem;
  }
}

.input,
.textarea{
  border: none;
  outline: none;
  border-bottom: 2px solid #bcbcbc;
  font-family: $f-secondary;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 500;
  color: $c-black;
  &::placeholder{
    color: #909090;
  }
  &:focus{
    border-bottom: 2px solid $c-primary;
  }
}

.input {
  height: 48px;
}

.textarea{
  min-height: 200px;
  resize: none;
}

//  banner styles
.banner{
  min-height: 95vh;
  padding: 10rem 0 6rem 0;
  display: flex;
  flex-direction: column;
  gap: 70px;
  background-image: url("./assets/banner/bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  &__container{
    // background: pink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include breakpoint(tablet){
      flex-direction: row;
    }
  }
  &__text,
  &__image{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    @include breakpoint(desktop){
      text-align: left;
    }
  }
  &__text{
    align-items: start;
    gap: 30px;
  }
  &__image{
    display: none;
    @include breakpoint(desktop){
      display: flex;
    }
    img{
      width: 100%;
      max-width: 600px;
    }
  }
  &__pretitle{
    background: $c-secondary-subtle;
    color: $c-white;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    margin: 0 auto;
    @include breakpoint(desktop){
      margin: 0;
    }
  }
  &__title{
    max-width: 680px;
    margin: 0 auto;
    span{
      color: $c-primary;
    }
  }
  &__subtitle{
    max-width: 540px;
    margin: 0 auto;
    @include breakpoint(desktop){
      margin: 0;
    }
  }
  &__btn{
    margin: 0 auto;
  }
  //brands
.brands{
  &__title{
    text-align: center;
    margin-bottom: 30px;
  }
  &__img-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
    @include breakpoint(tablet){
      justify-content: space-between;
    }
  }
  &__img{
    max-height: 80px;
    @include breakpoint(desktop){
      max-height: none;
    }
  }
}
}
//header
.header{
  position: fixed;
  width: 100%;
  z-index: 4;
  height: 90px;
  background: palegoldenrod;
  transition: all 0.3s ease-in-out;
  &__container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
  }
  .btn{
    display: none;
    @include breakpoint(desktop){
      display: block;
    }
  }
  &.is-active{
    background: $c-white;
    box-shadow: 0 1px 8px 4px rgba(83, 117, 218, 0.1);
    transition: all 0.3s ease-in-out;
    height: 80px;
  }
}
//nav
.nav{
  background: $c-black;
  position: fixed;
  top: 0;
  right: -100%;
  bottom: 0;
  width: 70vw;
  z-index: 5;
  transition: all 0.5s ease-in-out;
  @include breakpoint(tablet){
    width: 40vw;
  }
  @include breakpoint(desktop){
    position: relative;
    right: 0;
    background: none;
  }
  &__close-btn{
    width: 40px;
    height: 40px;
    color: $c-primary;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 16px;
    left: 20px;
    @include breakpoint(desktop){
      display: none;
    }
  }
  &.is-open{
    right: 0;
  }

  &__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 2rem;
    @include breakpoint(desktop){
      flex-direction: row;
    }
  }
  &__link{
    color: $c-white;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    font-size: 1.2rem;
    &:hover{
      color: $c-primary;
    }
    @include breakpoint(desktop){
      color: $c-black;
      font-size: 1rem;
    }
  }
}

//nav trigger
.nav-trigger{
  cursor: pointer;
  font-size: 2.4rem;
  color: $c-black;
  @include breakpoint(desktop){
    display: none;
  }
}


